.authButton{
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 18px;
	margin: 16px 10px;
	outline: none;
	padding: 0px;
}
.logo{
	margin: 12px 6px;
	max-height: 26px;
}
.navbar{
	background-color: purple;
	border-bottom: 3px solid #511d56;
	height: 50px;
	padding: 0px;
	width: 100%;
}