<div class="dashboard">
	<div class="header">
		<p class="title">Dashboard</p>
		<button type="button" class="joinButton" (click)="join()">Join Channel</button>
	</div>
	<div class = "settings">
		<div class = "sidebar">
			<div [ngClass]="{'selected-item': isSelected('perms')}" (click) = "changeTab('perms')"  class ="sidebar-item">
				Permissions
			</div>
			<div [ngClass]="{'selected-item': isSelected('chat')}" (click) = "changeTab('chat')" class ="sidebar-item">
				Chat Settings
			</div>
			<div [ngClass]="{'selected-item': isSelected('1')}" (click) = "changeTab('1')" class ="sidebar-item">
				Placeholder
			</div>
			<div [ngClass]="{'selected-item': isSelected('2')}" (click) = "changeTab('2')" class ="sidebar-item">
				Placeholder
			</div>
		</div>
		<div class = "content-area">
			<app-permissions *ngIf='isSelected("perms")'></app-permissions>
			<app-chat-settings *ngIf='isSelected("chat")'></app-chat-settings>
		</div>
	</div>
	
<!-- 	<div class="column">
		<p class="subTitle">Chat Settings</p>
		<div class="formItem">
			<p class="itemTitle">Max Characters</p>
			<select  [(ngModel)]="config.edit" (ngModelChange)="updateConfig('edit', $event)" class="dropdown">
				<option class="options" *ngFor="let option of permOptions" [value]="option">{{option}}</option>
			</select>
			<p class="updateResponse">{{status.edit}}</p>
		</div>
	</div> -->
</div>