.content-area{
	display: inline-block;
	float: left;
}
.column{
	margin: 10px 20px 0px 10px !important;
	padding-bottom: 10px;
	width: 50%;
}
.dashboard{
	border: 2px solid grey;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 30px 50px;
	min-height: 85vh;
}
.dashboard *{
	margin: 0px;
}
.dropdown{
	font-size: 16px;
	margin-top: 3px !important;
	width: 200px;
}
.formItem{
	margin: 15px 10px 25px 20px !important;
}
.header{
	background-color: #E9E9E9;
	border-bottom: 2px solid grey;
	overflow: hidden;
	padding: 10px;
}
.itemTitle{
	font-size: 20px;
}
.joinButton{
	background-color: purple;
	border: 2px solid black;
	color: white;
	display: inline-block;
	float: right;
	font-size: 20px;
	height: 34px;
	margin-top: 4px !important;
}
.settings{
	height: 100%;
	flex-grow: 1;
}
.sidebar{
	background-color: #E9E9E9;
	border-right: 2px solid black;
	display: inline-block;
	float: left;
	height: 100%;
	width: 200px;
}
.sidebar-item{
	background-color: #C9C9C9;
	border-bottom: 2px solid black;
	cursor: pointer;
	font-size: 25px;
	font-weight: 500;
	padding: 10px 0px 10px 20px;
	user-select: none;
}
.selected-item{
	background-color: #898989;
}
.subTitle{
	font-size: 24px;
}
.title{
	display: inline-block;
	float: left;
	font-size: 35px;
	font-weight: bold;
}